@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", serif;
  background-color: rgb(102, 119, 136);
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  background-color: beige;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 800px;
  text-align: center;
}

.title {
  font-size: 50px;
  text-align: left;
  margin-bottom: 20px;
}

.question {
  text-align: left;
  font-size: 35px;
}

.buttons-container {
  display: grid;
}

.btn {
  height: 70px;
  font-size: 30px;
  margin-top: 3%;
  border: none;
  background-color: #153a24;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: 0.2s;
}

.btn:hover {
  opacity: 70%;
  transition: 0.2s;
}

@media screen and (max-width: 950px)
{
  .main_content {
    width: 70%;
    transition: 0.5s;
  }
}

@media screen and (max-width: 500px) {
  .question {
    font-size: 25px;
    margin-bottom: 5%;
  }
}


@media screen and (max-width: 400px) {
  .question {
    font-size: 29px;
  }
}

@media screen and (max-width: 370px) {
  .question {
    font-size: 28px;
  }
}